* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  border-top: gainsboro 1px solid;
  border-bottom: gainsboro 1px solid;
  width: 1000px;
  height: 400px;
  margin: 20px auto 0 auto;
}

.box {
  display: inline-block;
  margin: 0 15px;
  margin-top: 26px;
  width: 215px;
}

.box span {
  display: inline-block;
}

.box img {
  width: 215px;
  height: 215px;
}

.box p:nth-of-type(1) {
  color: #666;
  font-size: 14px;
  margin-top: 7px;
}

.box p:nth-of-type(2) {
  font-size: 14px;
  margin-top: 5px;
}

.box span:nth-of-type(1) {
  font-size: 14px;
  color: #666;
}

.box span:nth-of-type(2) {
  font-size: 20px;
  color: red;
}

.sale,
.gift,
.today,
.coupon {
  text-align: center;
  width: 40px;
  height: 18px;
  color: #fff;
  font-size: 12px;
  padding: 2px;
  margin-top: 7px;
  border-radius: 12px;
}

.sale {
  background: #f65c60;
}

.gift {
  background: #6fcff7;
}

.today {
  background: #f374b7;
  width: 60px;
}

.coupon {
  background: #9bce26;
}
