* {
  margin: 0;
  padding: 0;
}

.bigbox {
  position: absolute;
  width: 500px;
  height: 500px;
  border: 1px dotted #333;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}

.face {
  position: absolute;
  width: 500px;
  height: 450px;
  bottom: 0;
  border: 10px solid #333;
  background-color: #d59729;
  border-radius: 50%;
  box-sizing: border-box;
  /* border+padding 포함해서 박스 구성 */
}

.ear {
  position: absolute;
  height: 150px;
  width: 150px;
  border: 10px solid #333;
  background-color: #d59729;
  border-radius: 50%;
  top: 20px;
}
.ear.left {
  left: 40px;
}

.ear.right {
  right: 40px;
}

.eyebrow {
  position: absolute;
  width: 100px;
  height: 20px;
  border: 1px solid #333;
  background-color: #000;
  border-radius: 7px;
  top: 120px;
}

.eyebrow.left {
  left: 100px;
}

.eyebrow.right {
  right: 100px;
}

.eyeball {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  background-color: #000;
  border-radius: 50%;
  top: 190px;
}

.eyeball.left {
  left: 135px;
}

.eyeball.right {
  right: 135px;
}

.nose {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  background-color: #000;
  border-radius: 50%;
  top: 230px;
  left: 50%;
  margin-left: -20px;
  z-index: 5;
}

.mouth {
  position: absolute;
  width: 80px;
  height: 74px;
  border: 10px solid #000;
  background-color: #fff;
  border-radius: 50%;
  top: 240px;
  box-sizing: border-box;
}

.mouth.left {
  left: 175px;
}

.mouth.right {
  right: 175px;
}

.mouth_cover {
  position: absolute;
  width: 37px;
  height: 40px;
  background-color: white;
  top: 2px;
  transform: rotate(45deg);
}

.mouth_cover.left {
  left: 42px;
}

.mouth_cover.right {
  right: 42px;
}
