* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Orbit&display=swap");

.main_img {
  width: auto;
  height: 480px;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f4f4f4;
}

.title {
  width: 1070px;
  height: 120px;
  margin: 0 auto;
  font-size: 1.7em;
  font-weight: 300;
  color: #222;
  letter-spacing: -2.5px;
  padding: 60px 0 30px;
  box-sizing: border-box;
  transform: translateY(-10%);
}

.container {
  width: 1070px;
  height: 900px;
  position: relative;
  background-color: #f4f4f4;
  /* border: 1px solid black; */
  margin: 0 auto 100px;
}

.box {
  position: absolute;
  width: 260px;
  height: 260px;
  overflow: hidden;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
}

.over-ray {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 95, 251, 0.9);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.25s;
  opacity: 0;
  cursor: pointer;
}

.box a {
  width: 100%;
  height: 100%;
  display: block;
}

.describtion {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
  color: #fff;
  top: 72px;
  z-index: 10;
  letter-spacing: -0.5px;
}

.desc2 {
  top: 210px;
}

.button {
  position: absolute;
  color: #fff;
  border: 1px solid white;
  padding: 7px 20px;
  top: 155px;
  font-size: 0.75em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.learn-more2 {
  top: 300px;
}

.box:hover .over-ray {
  transform: scaleX(1);
  opacity: 1;
}

.box1 {
  display: block;
  left: 0;
}

.box2 {
  display: block;
  left: 270px;
  top: 0;
  height: 530px;
}

.box3 {
  left: 540px;
}

.box4 {
  right: 0;
}

.box5 {
  top: 270px;
}

.box6 {
  width: 530px;
  left: 540px;
  top: 270px;
}

.box7 {
  top: 540px;
}

.box8 {
  top: 540px;
  left: 270px;
  width: 530px;
}

.box9 {
  top: 540px;
  right: 0;
}
