/* reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* nav */
#nav {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 61px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}

#nav.on {
  position: fixed;
  top: -61px;
}

#nav h1 {
  float: left;
  color: #000;
  font-size: 40px;
  padding: 5px 5px 5px 15px;
  font-family: "Abel";
}

.section.s1 {
  background-color: #d0cfc5;
}

.section.s2 {
  background: #ccc;
}

.section.s3 {
  background: #ddd;
}

.section.s4 {
  background: #eee;
}

.section.s5 {
  background: #ddd;
}

.section.s6 {
  background: #ccc;
}

/*
| 속성                    | 의미                   |
| --------------------- | -------------------- |
| `display: flex`       | 자식 요소들을 Flex 방식으로 배치 |
| `flex-direction: row` | 가로 방향으로 배치           |
| `flex-wrap: wrap`     | 공간이 부족하면 다음 줄로 내려감   |
| `align-items: center` | 세로 방향 가운데 정렬         |
| `height: 100vh`       | 화면 높이의 100%          |
| `min-height: 600px`   | 아무리 작아도 높이 600px 유지  |
| `overflow: hidden`    | 영역을 벗어난 내용을 숨김       |
| `color: #141417`      | 기본 글자색               |
| `font-family`         | Poppins 글꼴 사용        |
*/

.section.s1 {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.section.s1 .sec1_text {
  padding: 15vw 5vw 10vw 5vw;
  font-size: 8vw;
  line-height: 1.2;
  margin: auto;
  color: #141417;
  font-family: "Poppins", sans-serif;
}

.section {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: #141417;
  height: 100vh;
  min-height: 600px;
  font-family: "Poppins", sans-serif;
}

.section .sec_text {
  width: 50vw;
  font-size: 6vw;
  line-height: 1.2;
  text-align: right;
  padding: 0 0 0 2em;
}

.section .sec_text.title_left {
  margin-left: -18vw;
}

.section .sec_img {
  width: 50vw;
}

.section img {
  width: 100%;
}

.section .sec_text {
  flex: none;
  position: relative;
  z-index: 2;
  display: inline-block;
  white-space: nowrap;
}

.section .sec_text .st1 {
  margin-top: 160px;
}

.section .sec_text .st2 {
}

footer {
  height: 500px;
}
