* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@media (max-width: 600px) {
  #wrap {
    width: 100%;
    margin: 0 auto;
  }
  header {
    height: 160px;
    background: url(../imgs/top.jpg) center / cover no-repeat;
    position: relative;
  }
  header h1 {
    position: absolute;
    bottom: 30px;
    right: 50px;
    color: #fff;
  }
  nav {
    width: 100%;
    height: 140px;
    background-color: #2a1d0a;
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  nav ul li {
    margin: 15px 0 0 25px;
  }

  nav ul li a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
  }
  nav ul li a:hover {
    background-color: #fff;
    color: #000;
    text-decoration: underline;
  }
  .content {
    height: 100%;
    height: auto;
  }
  section {
    width: 100%;
    height: auto;
    background-color: #ccc;
    padding-bottom: 15px;
  }
  section h3 {
    padding: 10px 0;
    text-align: center;
  }
  section article {
    width: 80%;
    height: 150px;
    margin: 0 auto 20px;
    border: 1px solid #333;
    padding: 10px;
  }

  article:hover {
    background-color: rgba(223, 255, 211, 0.5);
  }

  article h4 {
    background: url(../imgs/kong.png) no-repeat 0 0;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  article p {
    line-height: 1.7em;
    text-align: justify;
  }
  aside {
    width: 100%;
    height: auto;
    background-color: #726054;
    text-align: center;
  }
  aside h3 {
    padding: 10px 0;
  }
  aside img {
    width: 170px;
    padding-bottom: 15px;
  }
  footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
}

/* 태블릿 */
@media (min-width: 601px) {
  #wrap {
    width: 600px;
    margin: 0 auto;
  }

  header {
    height: 160px;
    background: url(../imgs/top.jpg) center / cover no-repeat;
    position: relative;
  }

  header h1 {
    position: absolute;
    bottom: 30px;
    right: 40px;
    color: #fff;
  }

  nav {
    width: 100%;
    height: 70px;
    background-color: #2a1d0a;
  }

  nav ul li {
    float: left;
    margin: 15px 0 0 15px;
  }

  nav ul li a {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }

  nav ul li a:hover {
    background-color: #fff;
    color: #000;
    text-decoration: underline;
  }

  .content {
    width: 100%;
    height: auto;
  }

  section {
    width: 600px;
    height: 550px;
    background-color: #ccc;
    float: left;
  }
  section h3 {
    padding: 10px 0;
    text-align: center;
  }
  section article {
    width: 247px;
    height: 200px;
    border: 1px solid #333;
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  article:hover {
    background-color: rgba(223, 255, 211, 0.5);
  }
  article h4 {
    background: url(../imgs/kong.png) no-repeat 0 0;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  article p {
    line-height: 1.7em;
    text-align: justify;
  }

  aside {
    width: 100%;
    height: auto;
    background-color: #726054;
    text-align: center;
  }
  aside h3 {
    padding: 10px 0;
  }
  aside img {
    width: 185px;
    padding-bottom: 15px;
  }
  footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  #wrap {
    width: 900px;
    margin: 0 auto;
  }
  header {
    height: 300px;
    background: url(../imgs/top.jpg) no-repeat 0 0;
    position: relative;
  }
  header h1 {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: #fff;
  }
  nav {
    width: 900px;
    height: 70px;
    background-color: #2a1d0a;
  }
  nav ul li {
    float: left;
    margin: 15px 0 0 25px;
  }
  nav ul li a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
  }
  nav ul li a:hover {
    background-color: #fff;
    color: #000;
    text-decoration: underline;
  }
  .content {
    height: 550px;
  }
  section {
    width: 650px;
    height: 550px;
    background-color: #ccc;
    float: left;
  }
  section h3 {
    padding: 10px 0;
    text-align: center;
  }
  section article {
    width: 270px;
    height: 200px;
    border: 1px solid #333;
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  article:hover {
    background-color: rgba(223, 255, 211, 0.5);
  }
  article h4 {
    background: url(../imgs/kong.png) no-repeat 0 0;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  article p {
    line-height: 1.7em;
    text-align: justify;
  }
  aside {
    width: 250px;
    height: 550px;
    background-color: #726054;
    float: left;
    text-align: center;
  }
  aside h3 {
    padding: 10px 0;
  }
  aside img {
    width: 220px;
    padding-bottom: 15px;
  }
  footer {
    width: 900px;
    height: 60px;
    line-height: 60px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
}
