.vio {
  background-color: violet;
  color: white;
}

.gre {
  background-color: greenyellow;
  color: white;
}

.baby {
  background-color: pink;
  color: white;
}

p {
  background-color: turquoise;
  color: white;
}

.bb {
  background-color: gainsboro;
  color: white;
}

#bb {
  background-color: yellow;
  color: white;
}
