@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  list-style: none;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: #333;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* 팝업창 */
.pop_up {
  position: absolute;
  width: 225px;
  height: 335px;
  top: 170px;
  right: 50px;
  z-index: 999;
}

.pop_up img:nth-child(1) {
  width: 200px;
  height: 330px;
}

.pop_up img:nth-child(2) {
  position: absolute;
}

.pop_up img:hover {
  cursor: pointer;
}

/* 헤더 */
.header_top {
  width: 100%;
  min-width: 1905px;
  height: 50px;
  background-color: #243c84;
  position: relative;
  font-size: 13px;
  z-index: 100;
}

.header_top a {
  color: #fff;
}

.top_left li {
  float: left;
}

.top_left li a,
.lnb li a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 18px;
  background: url(../images/util_line.gif) 100% 50% no-repeat;
}

.top_left li.on a {
  background-color: #fff;
  color: #1d326c;
}

.top_left li:nth-child(4) a {
  background: none;
}

.lnb li:nth-child(5) a {
  background: none;
}

.top_right li {
  float: left;
}

.top_sns {
  padding-top: 14px;
  margin-right: 13px;
}

.top_sns li {
  float: left;
  margin-right: 5px;
}

.top_sns li a {
  display: block;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
}

.top_sns li:nth-child(1) a {
  background: url(../images/top_sns01.png) 50% 50% no-repeat;
}

.top_sns li:nth-child(2) a {
  background: url(../images/top_sns02.png) 50% 50% no-repeat;
}

.top_sns li:nth-child(3) a {
  background: url(../images/top_sns03.png) 50% 50% no-repeat;
}

.top_sns li:nth-child(4) a {
  background: url(../images/top_sns04.png) 50% 50% no-repeat;
}

#ediyaSearchForm {
  width: 160px;
  height: 30px;
  margin-top: 10px;
  background: #fff;
  margin-right: 20px;
}

#ediyaSearch {
  height: 30px;
  line-height: 30px;
  width: 122px;
  float: left;
  outline: none;
  border: none;
}

#ediyaSearchForm a {
  float: left;
  display: block;
  height: 30px;
  width: 30px;
  text-indent: -9999px;
  background: url(../images/icon_search.gif) no-repeat center;
}

/*  */
.header_middle {
  width: 100%;
  height: 120px;
  position: relative;
  z-index: 101;
}

.middle_top {
  width: 100%;
  height: 70px;
  position: relative;
}

.middle_top .logo {
  position: absolute;
  width: 202px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  display: block;
  width: 100%;
}

.middle_top .lanquage {
  position: absolute;
  top: 21px;
  right: 50%;
  margin-right: -520px;
  /* 중앙 정렬 후 중앙으로부터 -520px 위치에 고정 */
}

.lanquage img {
  float: left;
  margin-right: 5px;
}

.lanquage span {
  float: left;
}

/* 메뉴 */
nav {
  width: 100%;
  height: 50px;
  position: relative;
}

nav ul {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  z-index: 101;
}

nav > ul > li {
  position: relative;
  float: left;
  width: 14.7%;
}

nav > ul > li:nth-child(2) {
  width: 10%;
}

nav ul li a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  font-size: 13px;
}

nav > ul > li > a {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
}

nav ul li ul {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  transition: all 0.3s;
}

nav ul:hover li ul {
  height: 250px;
  width: 100%;
}

.shadow {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 0;
  background-color: #fff;
}

nav ul:hover + .shadow {
  height: 255px;
  background-color: #fff;
}

/* 메인 박스 슬라이더 */
.main {
  width: 100%;
  max-width: 1920px;
  min-width: 1280px;
  position: relative;
}

.section2 {
  width: 100%;
  padding: 120px 0;
  text-align: center;
}

.section2 video {
  width: 1180px;
  height: auto;
  border-radius: 30px;
}

.section3 {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 680px;
  padding: 100px 10% 30px;
  background: url(../images/main_beanist_bg.webp) no-repeat center / cover;
}

.section3 h2 {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 42px;
  text-align: center;
}

.section3 h2 strong {
  color: #90470c;
}
.section3 h2 span {
  color: #3c3c4c;
  font-weight: 200;
}

.section3 h2::after {
  content: "";
  height: 1px;
  width: 100px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slide > ul {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide.slide-1 > ul {
  gap: 30px;
}

.slide > ul > li > img {
  display: inline-block;
}

.slide > ul > li > dl {
  padding-top: 20px;
}

.slide > ul > li > dl > dt {
  font-size: 20px;
  font-weight: 900;
  color: #693a13;
}

.slide > ul > li > dl > dd {
  font-size: 15px;
  color: #cc8e5d;
}

/* dot 위치 */
.slick-dots {
  bottom: -50px;
}

/* 기본 dot 제거 */
.slick-dots li button:before {
  content: "";
}

/* 기본 dot 디자인 */
.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d7c2b0;
  transition: all 0.3s ease;
}

/* 활성화된 dot */
.slick-dots li.slick.active button {
  background: #5c3a21;
  transform: scale(1.2);
}

/* hover 효과 */
.slick-dots li button:hover {
  background: #8b5e3c;
}

/* section4 */
.section4 {
  box-sizing: border-box;
  width: 100%;
  padding-top: 80px;
  height: 460px;
  position: relative;
  background: url(../images/dream_factory_bg.webp) repeat-y;
}

.section4 .factory_con {
  width: 1118px;
  margin: 0 auto;
}

.section4 h2 {
  text-indent: -9999px;
  width: 1036px;
  height: 87px;
  background: url(../images/dream_factory_txt.webp);
}

.section4 h3 {
  color: #fff;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: -1px;
}

.section4 .text1 {
  color: #fff;
  padding: 20px 0;
  font-size: 17px;
}

.section4 .text2 span {
  color: #fff;
  font-size: 15px;
  display: inline-block;
  padding: 10px 50px;
  border: 1px solid #fff;
  margin-right: 15px;
}

.section4 .text2 span:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

.factory_img {
  position: absolute;
  width: 1063px;
  height: 349px;
  right: 0;
  bottom: 0;
  background: url(../images/dream_factory.webp) no-repeat;
  background-position: 150px 0;
}

/* section5 */
.section5 {
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  height: 460px;
  position: relative;
  background: url(../images/block02_bg.webp) no-repeat center / cover;
}

.section5 h2 {
  font-size: 42px;
  position: relative;
  /* padding-bottom: 20px;
  margin-bottom: 40px; */
  padding-top: 100px;
}

.section5 h2::after {
  position: relative;
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 45px;
}

.section5 h2 span {
  font-weight: 200;
}

.section5 h2 strong {
  font-weight: 900;
  letter-spacing: -2px;
}

.section5 .text1 {
  font-size: 26px;
  margin: 43px 0 50px 0;
  font-weight: 200;
}

.section5 .text2 span {
  display: inline-block;
  font-size: 15px;

  border: 1px solid #fff;
  font-weight: 500;
  padding: 10px 60px;
  letter-spacing: 2px;
}

.section5 .text2 span:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

/* section6 */
.section6 {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 460px;
  padding-top: 80px;
  color: #fff;
  background: url(../images/company_bg.webp) no-repeat;
}

.section6 .right {
  position: absolute;
  box-sizing: border-box;
  width: 50%;
  min-width: 600px;
  height: 100%;
  left: 50%;
}

.section6 .right h2 {
  font-size: 44px;
  font-weight: 200;
  letter-spacing: -3px;
  line-height: 1.2;
}

.section6 .right .txt1 p {
  font-size: 17px;
  margin-top: 50px;
  font-weight: 350;
  line-height: 1.2;
}

.section6 .right .txt2 {
  margin: 40px 0;
}

.section6 .right .txt2 span {
  display: inline-block;
  box-sizing: border-box;
  width: 190px;
  height: 44px;
  font-size: 15px;
  font-weight: 550;
  line-height: 44px;
  text-align: center;
  border: 1px solid #fff;
  margin: 0 3px 0 4px;
}

/* section7 */
.section7 {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 530px;
  padding: 80px 0;
}

.container {
  display: flex;
  width: 1180px;
  margin: 0 auto;
  gap: 10px;
}

.container > div {
  height: 330px;
}

.main_franchise {
  flex: 1;
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  background: url(../images/main_franchise_bg.webp) no-repeat left top / cover;
}

.main_store {
  flex: 1;
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  background: url(../images/main_store_bg.webp) no-repeat left top / cover;
}

.main_franchise h2,
.main_store h2 {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.main_franchise h2::after,
.main_store h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: #fff;
}

.main_franchise .text,
.main_store .text {
  font-size: 18px;
}

.main_store .text {
  padding-bottom: 40px;
}

.main_store form {
  width: 100%;
  height: 44px;
  position: relative;
}

.main_store input {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  height: 44px;
  border: 3px solid #fff;
  background: #1c3269;
  padding-left: 20px;
  font-size: 14px;
  color: #fff;
}

.main_store a {
  position: absolute;
  right: 0;
}

.main_right {
  flex: 1.5;
  position: relative;
}

.main_right_t {
  padding: 10px;
}

.main_right_t h2 {
  color: #333;
  padding-bottom: 30px;
}

.main_right_t .more {
  position: absolute;
  right: 10px;
  top: 10px;
}

.main_right_t ul li {
  height: 30px;
  line-height: 30px;
}

.main_right_t ul li a {
  color: #333;
  font-size: 13px;
  float: left;
}

.main_right_t ul li span {
  color: #333;
  font-size: 13px;
  float: right;
}

.main_right_b {
  position: absolute;
  width: 100%;
  height: 135px;
  background: #cbc3b2;
  bottom: 0;
  box-sizing: border-box;
  padding: 30px;
}

.main_right_b h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

/* footer */
footer {
  background: #262626;
}

.footer_menu {
  position: relative;
}

.footer_menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #464646;
}

.footer_util_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 32px;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 23px 0;
}

.footer_util_menu li a {
  display: block;
  font-size: 13px;
  color: #818181;
}

.footer_logo_ccm {
  text-align: center;
  margin-top: 30px;
}

.footer_logo_brand {
  text-align: center;
  margin: 30px 0 13px;
}

.c_info {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.c_info span {
  display: block;
  font-size: 12px;
  color: #6c6c6c;
}

.c_info span::after {
  content: "|";
  padding: 0 10px;
}

.c_info span:nth-child(5)::after {
  content: "";
  padding: 0;
}

.copyright {
  color: #6c6c6c;
  font-size: 12px;
  padding-bottom: 35px;
  text-align: center;
}

/* jquery.bxslider.css 93 ~ 118 */
/* 화살표 */
/* .section1 추가, jquery.bxslider.css보다 우선 순위가 생김 */
.section1 .bx-wrapper .bx-prev {
  left: 10px;
  background: url("../images/main_visual_prev.png") no-repeat 0 0;
}
.section1 .bx-wrapper .bx-next {
  right: 10px;
  background: url("../images/main_visual_next.png") no-repeat 0 0;
}
.section1 .bx-wrapper .bx-controls-direction a {
  width: 24px;
  height: 45px;
}

/* jquery.bxslider.css
38 ~ 41
64 ~ 65
76 ~ 80 */
/* 페이저 */

.section1 .bx-wrapper .bx-pager,
.section1 .bx-wrapper .bx-controls-auto {
  bottom: 30px;
}

.section1 .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
}

.section1 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.section1 .bx-wrapper .bx-pager.bx-default-pager a.active,
.section1 .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #243c84;
}
